/*
Header
*/
#header-wrapper{
    background:#333;
}
#header h1{
    margin:0;
}
#header h1 a{
    text-indent:-999em;
    background:url('images/logo.png') no-repeat;
    width:222px;
    height:55px;
    display:block;
}


/*
Leaflet Maps
*/
#map-canvas {
    position:relative;
    height:480px;
    box-sizing: border-box;
    border:6px solid #999;
}

/*
Ecoplan Labels
*/
#ecoplanlabels ul{
    list-style:none;
    margin:0;
    padding:0;
}
#ecoplanlabels ul li{
    float:left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right:5px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    cursor:hand;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#ecoplanlabels ul li:last-of-type{
    margin-right:0;
}
#ecoplanlabels ul li:hover{
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}

/*
Ecoplan Items
*/
#ecoplanitems ul{
    list-style:none;
    margin:0;
    padding:0;
}
#ecoplanitems ul li{
    margin-bottom:15px;
    padding:5px 10px;
    box-sizing:border-box;
    border-radius: 5px;
    background-color: #fff;
    position:relative;
}
#ecoplanitems ul li:last-of-type{
    margin-bottom:0;
}
#ecoplanitems ul li h1{
    margin:0;
}
#ecoplanitems .home{
    width:16px;
    height:16px;    
    display:inline-block;
    background:url('images/home.png') no-repeat;
    background-size:16px 16px;
    margin-right:5px;
    opacity:0.66;
}
#ecoplanitems .tag{
    width:16px;
    height:16px;    
    display:inline-block;
    background:url('images/tag.png') no-repeat;
    background-size:16px 16px;
    margin-right:5px;
    opacity:0.46;
}
#ecoplanitems .distance{
    position:absolute;
    right:5px;
    top:5px;
}
.btn-group-justified{
    display: table;
    width: 100%;
    border-collapse: separate;
    table-layout: fixed;
}
.btn-group-justified > .btn{
    display: table-cell;
    float: none;
    width: 1%;
}
.btn{
    padding: 5px 10px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;  
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    cursor:hand;
}
.btn.active{
    color: #fff;
    background-color: #333;
}

.searchbar{
    min-height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    border-radius: 10px;
}

.searchbar .badge{
    color:#EF6500;
    background-color:#FFD800;
}

.col-trimmed{
    margin-top:0;
    padding-top:0;
    padding-bottom:0;
}